<p-inputGroup class="sticky">
  <p-inputGroupAddon>
    <i class="pi pi-search"></i>
  </p-inputGroupAddon>

  <input
    style="height: 60px"
    placeholder="Search GIFs"
    type="text"
    [(ngModel)]="searchValue"
    pInputText
  />
  <button pButton (click)="search()" label="Search"></button>
</p-inputGroup>

<div class="gif-container" *ngIf="isLoading">
  <div *ngFor="let i of [].constructor(12)">
    <p-skeleton width="200px" height="200px"></p-skeleton>
  </div>
</div>

<ngx-masonry
  *ngIf="!isLoading"
  infinite-scroll
  [immediateCheck]="true"
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
  [options]="{ gutter: 16, columnWidth: 200, itemSelector: '.gif-image' }"
>
  <div *ngFor="let gif of trendingGifs">
    <p-image
      masonryLazy
      ngxMasonryItem
      loading="lazy"
      class="gif-image"
      [src]="gif.images.fixed_width.webp"
      [alt]="gif.title"
    />
  </div>
</ngx-masonry>

<p *ngIf="trendingGifs.length === 0 && !isLoading">
  Wow, such emptiness. Just like your soul.
</p>

<div style="padding-bottom: 20px">
  <p-progressBar
    mode="indeterminate"
    [style]="{ height: '6px' }"
    *ngIf="isScrolling"
  ></p-progressBar>
</div>

<p-toast position="top-center"></p-toast>
