.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--primary-color-text);
}

.gif-container {
  column-count: 6;
}

.gif-container div {
  display: inline-block;
  break-inside: avoid;
  margin-bottom: 1rem;
}

::ng-deep .gif-image img {
  border-radius: 6px;
  margin-bottom: 1rem;
}
