.search-bar {
  width: 100%;
  margin-bottom: 1rem;
}

.gif-container {
  column-count: 6;
}

.gif-container div {
  display: inline-block;
  break-inside: avoid;
  margin-bottom: 1rem;
}

::ng-deep .gif-image img {
  border-radius: 6px;
}
