<p-inputGroup class="sticky">
  <p-inputGroupAddon>
    <i class="pi pi-search"></i>
  </p-inputGroupAddon>

  <input
    style="height: 60px"
    placeholder="Search GIFs"
    type="text"
    [(ngModel)]="searchValue"
    pInputText
  />
  <button pButton (click)="search()" label="Search"></button>
</p-inputGroup>

<div class="skeleton-container" *ngIf="isLoading">
  <div *ngFor="let i of [].constructor(12)">
    <p-skeleton width="200px" height="200px"></p-skeleton>
  </div>
</div>

<ngx-masonry
  *ngIf="!isLoading"
  infinite-scroll
  [immediateCheck]="true"
  [infiniteScrollDistance]="0"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
  [options]="{ gutter: 16, columnWidth: 200, itemSelector: '.gif-container' }"
>
  <div *ngFor="let gif of trendingGifs">
    <div ngxMasonryItem class="gif-container" (click)="showDialog(gif)">
      <p-image
        masonryLazy
        class="gif-image"
        [src]="gif.images.fixed_width.webp"
        [alt]="gif.title"
      />
      <i class="pi pi-eye eye-icon"></i>
    </div>
  </div>
</ngx-masonry>

<p *ngIf="trendingGifs.length === 0 && !isLoading">
  Wow, such emptiness. Just like your soul.
</p>

<div style="padding-bottom: 20px">
  <p-progressBar
    *ngIf="isScrolling"
    mode="indeterminate"
    [style]="{ height: '6px' }"
  ></p-progressBar>
</div>

<p-toast position="top-center"></p-toast>

<p-dialog
  *ngIf="selectedGif"
  header="{{ selectedGif.title }} - Rated {{ selectedGif.rating | uppercase }}"
  [(visible)]="displayDialog"
  [style]="{ width: '50vw' }"
  [modal]="true"
  [maximizable]="true"
  [draggable]="false"
  [resizable]="false"
>
  <p-progressSpinner
    class="center-modal-content"
    *ngIf="isLoadingGif; else gifTemplate"
  ></p-progressSpinner>

  <ng-template #gifTemplate>
    <div class="center-modal-content">
      <div style="margin-right: 1rem">
        <div class="user-profile">
          <p-avatar
            [image]="
              selectedGif.user
                ? selectedGif.user.avatar_url
                : 'https://picsum.photos/64'
            "
            size="xlarge"
          ></p-avatar>
          <div style="margin-left: 1rem; margin-bottom: 4px">
            <p style="margin: 0; font-weight: bold">
              {{
                selectedGif.user
                  ? selectedGif.user.display_name
                  : 'Unknown User'
              }}
            </p>
            <div style="display: flex; align-items: center">
              <h5
                style="
                  margin: 0;
                  font-weight: normal;
                  color: var(--text-color-secondary);
                "
              >
                {{
                  selectedGif.user
                    ? '@' + selectedGif.user.username
                    : '@unknownuser'
                }}
              </h5>
              <i
                *ngIf="selectedGif.user?.is_verified"
                class="pi pi-verified"
                style="margin-left: 0.3rem"
              ></i>
            </div>
          </div>
        </div>
        <p>{{ selectedGif.user?.description }}</p>

        <a
          *ngIf="selectedGif.user?.instagram_url"
          class="pi pi-instagram"
          [href]="selectedGif.user?.instagram_url"
        ></a>
      </div>

      <p-image
        loading="lazy"
        [src]="selectedGif.images.original.webp"
        [alt]="selectedGif.title"
      />
    </div>
  </ng-template>
</p-dialog>
