.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  align-items: center;
}

.title {
  margin-left: 1rem;
}

.angular-logo {
  width: 15rem;
}
